<div class="navbar">
    <div class="logo">
        <h2>BookSwap</h2>
    </div>
    <div class="links" id="menu">
        <a id="animID" href="/">Home</a>
        <a id="animID" href="#">About</a>
        <a id="animID" href="/exchange">Exchange</a>
        <a id="animID" href="#">Contact</a>
    </div>
    <div class="profile dropdown"> 
        <a href="/profile"><i class="fa-solid fa-user"></i></a>
    </div>
    <div id="hamburger-icon"><a href="javascript:void(0);" id="myAnchor" onclick="hamburger()"><i id="hambClose" class="fa-solid fa-bars"></i></a></div>
</div>