body {
    background-color: var(--primary);
    font-family: "Poppins", sans-serif;
}
.detail{
    margin: 32px auto;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    border: 1px solid lightgray;
    border-radius: 14px;
    padding: 18px 12px;
}
.imageDiv{
    text-align: center;
    width: 45%;
}
.bookImg{
    width: 50%;
}
.bookDetail h2{
    font-size: 38px;
    font-weight: 600;
    text-decoration: underline;
}
.bookDetail p{
    color: #4B4A47;
    font-size: 18px;
    margin: 8px 0;
}
.bookDetail span{
    color: black;
    font-weight: 500;
}