@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color palette */
:root {
  --primary: #F2EEE4;
  --secondary: #20262E;
  --tertiary: #EF9648;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* section{
  width: 90vw;
  margin: 12px auto;
} */
/* SCROLL BAR */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--secondary);

}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--tertiary);
}

::-webkit-scrollbar-thumb:hover {
  background: #ec8d3b;
}

/* HERO SECTION */
.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.2) 100%), url(/images/bg.jpg);
  background-size: cover;
  background-position: center;
  transition: all .2s ease-in-out;
}

/* HEADING */
.headings {
  max-width: 768px;
  color: var(--primary);
  margin: auto;
  padding: 18px 0;
  text-align: center;
  margin-top: 92px;
}

.headings span {
  color: var(--tertiary);
}

.headings h1 {
  font-size: 62px;
  font-weight: 800;
  letter-spacing: -.5px;
  line-height: 1.1;
}

.headings p {
  margin-top: 12px;
  font-size: 14px;
  padding: 0 32px;
  line-height: 1.3;
}

.btn {
  position: absolute;
  bottom: 32px;
  right: 5%;
}

.btn button {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  background-color: var(--secondary);
  color: var(--primary);
  padding: 12px;
  border: none;
  border-radius: 6px;
  transition: all .3s ease-in-out;
}

.btn button:hover {
  opacity: 0.8;
}

.btn button span {
  color: var(--tertiary);
}

/* EXCHANGE BOOK */
#exchange {
  width: 90vw;
  margin: 12px auto;
}

.head {
  padding: 2rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--secondary);
  text-align: center;
}

.books {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 18px;
}

.book img {
  height: 200px;
  size: cover;
}

.book {
  padding: 12px 24px;
  border: 1px solid var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.insideBook {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.insideBook button {
  width: 5rem;
  font-size: 1.2rem;
  font-weight: 100;
  padding: .3rem;
  border: 0;
  border-radius: 6px;
  background-color: var(--secondary);
  color: var(--primary);
  opacity: 0.8;
  margin-top: 8px;
}

.insideBook button:hover {
  opacity: 0.65;
  transition: 200ms;
}

.book h4 {
  font-weight: 600;
}

.book h4,
.book p {
  text-align: center;
  font-size: 1.1rem;
}

.more {
  margin-top: 52px;
  text-align: right;
}

.more button {
  font-size: 1.2rem;
  font-weight: 200 !important;
  letter-spacing: 2px;
  background-color: var(--tertiary);
  color: var(--secondary);
  padding: 0.8rem 2.5rem;
  border: 0;
  border-radius: 6px;
}

.more button:hover {
  opacity: 0.95;
  transition: 200ms;
}

/* ABOUT SECTION */
#about {
  margin-top: 32px;
}

.about {
  background-color: var(--primary);
  /* padding: 3rem 0; */
}


.about h3 {
  font-size: 1.8rem;
  font-weight: 600;
  word-spacing: 2rem;
  color: var(--secondary);
  text-align: center;
  letter-spacing: .7rem;
  margin-bottom: 1.5rem;
}

/* BOOK */
.parent {
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}

.aboutBook {
  outline: 2px solid rgba(0, 0, 0, .1);
  width: 500px;
  height: 700px;
  padding: 32px;
  background: #FFF;
  border-left: 30px solid orange;
  transform: rotate(-45deg) skewX(10deg) scale(.8);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
  margin-top: 15rem;
}

.aboutBook::before {
  content: "";
  width: 30px;
  height: 100%;
  background: rgb(200, 130, 0);
  position: absolute;
  top: 0;
  left: 0;
  transform: skewY(-45deg) translate(-57px, -43px);
}

.aboutBook::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  background: rgb(129, 129, 106);
  transform: skewX(-45deg) translate(-43.2px, 30px);
}

.aboutBook h4 {
  margin: 2rem;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aboutBook p {
  font-size: 1.2rem;
  padding: 1.2rem 2.5rem;
  text-align: justify
}

/* TESTIMONAL SECTION */
#feedback {
  width: 90vw;
  margin: 12px auto;
}

.wrapTesti {
  display: flex;
  flex-direction: row;
  overflow: auto;
  padding: 0;
  scroll-behavior: smooth;
}

.wrapTesti::-webkit-scrollbar {
  display: none;
}

.testi1 {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  min-width: 28vw;
  padding: 28px;
  margin: 0 1.5rem 0 0;
}

.testi1 p {
  font-size: 1rem;
  margin: 0 0 4rem 0;
}

.testi1 h6 {
  font-size: .8rem;
}

.starCont {
  display: flex;
  margin: 1rem 0;
}

.star {
  background-color: var(--tertiary);
  width: fit-content;
  height: fit-content;
  margin: .2rem;
}

.star i {
  color: white;
  font-size: 0.85rem;
  margin: 0.3rem;
}

.scrollBtn {
  position: relative;
  text-align: right;
}

.scrollBtn button {
  border: 0;
  background-color: white;
  /* float: right; */
  margin-left: 8px;
}

.circle {
  border-radius: 100%;
  border: 1px solid black;
  padding: 1rem;
  background-color: white;
  height: 12px;
  width: 12px;
  margin-top: 1rem;
}

/* FAQ */
#frequentlyAskedQuestion {
  background-color: var(--primary);
}

.FAQ {
  width: 90vw;
  margin: auto;
  padding: 12px 0 92px 0;
}

.FAQ .head p {
  color: rgba(0, 0, 0, .75);
  font-weight: 500;
  text-align: center;
  margin: 8px 0 24px 0;
  font-size: 16px;
}

.queries {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  justify-items: center;
  column-gap: 5rem;
  row-gap: 1rem;
}

.query p {
  text-align: left;
  margin: 1rem 0 2rem 0;
}


/* RESPONSIVE */
@media screen and (max-width: 992px) {
  body {
    font-size: 10px;
  }

  .hero {
    height: 80vh;
  }

  .headings {
    max-width: 752px;
  }

  /* EXCHANGE BOOK */
  .books {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
  }
}

/* TABLET VIEW
------------------------------------------------------- */
@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }

  /* HERO SECTION */
  .headings {
    margin-top: 32px;
  }

  .headings h1 {
    font-size: 38px;
  }

  /* ABOUT SECTION */
  .about h3 {
    font-size: 1rem;
    word-spacing: .5rem;
    letter-spacing: .25rem;
    margin-bottom: 1.5rem;
  }

  .aboutBook {
    margin-top: 2rem;
    height: 75vw;
    width: 40vw;
  }

  .aboutBook p {
    font-size: 10.5px;
    padding: 0;
    margin: 0;
  }

  .aboutBook h4 {
    margin: 0 0 1rem 0;
    font-size: 12px;
  }

  .emptySection {
    height: 0 !important;
  }

  .about {
    padding-bottom: 0;
  }

  /* TESTOMINAL */
  .star {
    margin: 0.1rem;
  }

  .star i {
    margin: 0.2rem;
    font-size: 0.8rem;
  }

  .testi1,
  .testi {
    min-width: 80vw;
    padding: 1.5rem 2rem 1.5rem 1.5rem;
  }

  .circle {
    height: 7px;
    width: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* FAQ */
  .queries {
    grid-template-columns: repeat(1, 1fr);
  }

  
}

/* MOBILE VIEW
------------------------------------------------------- */
@media screen and (max-width: 576px) {

  /* EXCHANGE BOOK */
  .books {
    grid-template-columns: repeat(1, 1fr);
  }
}